* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}

.quiz-answer {
    background-color: #090B0C;
    border: none;
    border-radius: 0.313rem;
    color: white;
    padding: 1rem;
    width: 100%;
    height: 50px;
    margin: .5rem 0rem;
}

#exit-screen {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    height: auto;
    z-index: 2;
    background-color: white;
    text-align: center;
    border-radius: 0.313rem;
    padding: 1rem;
}

#exit-screen button {
    color: white;
    background-color: #090B0C;
    padding: 1rem;
    border: none;
    border-radius: 0.313rem;
    width: 100%;
}

#overlay {
    display: none;
    background-color: #090B0C;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
}

#exit-button {
    cursor: pointer;
}

.material-symbols-outlined {
    cursor: pointer; /* Add cursor pointer for better UX */
    color: #090B0C;
}

.arrow-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 475px) {
    h1 {
        font-weight: 900;
        font-size: 2rem;
        width: 10rem;
        text-align: left;
    }
    
    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    h6 {
        font-weight: 300;
        font-size: 0.813rem;
    }
    
    .highlight {
        background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    /* Header Styling */
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        height: auto;
    }
    
    nav {
        width: 100%; /* Takes away 100% of it's parent */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    main {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    main div {
        margin: 1rem;
    }

    main div * {
        margin: .5rem;
    }

    /* Dropdown Menu */
    #ms {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: white;
        text-align: center;
        transition: all ease-in 5s;
    }
    
    #ms ul {
        list-style: none;
        width: 100%;
    }
    
    #ms a {
        color: #090B0C;
        text-decoration: none;
    }
    
    #ms-header {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 1rem;
    }
    
    #ms-options {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
    }
    
    #ms-options li {
        margin: 1rem;
    }
}